@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');

* {
  font-family: 'Pretendard', sans-serif;
}

::selection {
  background-color: #ffff4460;
  height: 0.5rem;
  padding: 1rem;
}

#name {
  background-image: url(./logobg.png);
  animation: backgroundScroll 15s linear;
}

@keyframes backgroundScroll {
  from {
    background-position: top left;
  }
  to {
    background-position: bottom right;
  }
}

.circles {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(96, 183, 199, 0.1);
  animation: animate 25s linear infinite;
  bottom: 0;
}

.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
  animation-duration: 20s;
  border-radius: 50%;
  border-top-left-radius: 0 !important;
  background: rgba(47, 44, 92, 0.1);
}

.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
  animation-duration: 25s;
  border-radius: 50%;
  border-top-left-radius: 0 !important;
  background: rgba(96, 183, 199, 0.1);
}

.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
  animation-duration: 20s;
  border-radius: 50%;
  border-top-left-radius: 0 !important;
  background: rgba(47, 44, 92, 0.1);
}

.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 15s;
  border-radius: 50%;
  border-top-left-radius: 0 !important;
  background: rgba(114, 63, 145, 0.1);
}

.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
  animation-duration: 20s;
  border-radius: 50%;
  border-top-left-radius: 0 !important;
  background: rgba(96, 183, 199, 0.1);
}

.circles li:nth-child(6) {
  left: 75%;
  width: 90px;
  height: 90px;
  animation-delay: 0s;
  animation-duration: 25s;
  border-radius: 50%;
  border-top-left-radius: 0 !important;
  background: rgba(114, 63, 145, 0.1);
}

.circles li:nth-child(7) {
  left: 35%;
  width: 50px;
  height: 50px;
  animation-delay: 0s;
  animation-duration: 30s;
  border-radius: 50%;
  border-top-left-radius: 0 !important;
  background: rgba(47, 44, 92, 0.1);
}

.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 0s;
  animation-duration: 35s;
  border-radius: 50%;
  border-top-left-radius: 0 !important;
  background: rgba(114, 63, 145, 0.1);
}

.circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 0s;
  animation-duration: 40s;
  border-radius: 50%;
  border-top-left-radius: 0 !important;
  background: rgba(47, 44, 92, 0.1);
}

.circles li:nth-child(10) {
  left: 85%;
  width: 50px;
  height: 50px;
  animation-delay: 0s;
  animation-duration: 45s;
  border-radius: 50%;
  border-top-left-radius: 0 !important;
  background: rgba(96, 183, 199, 0.1);
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 0;
  }
  50% {
    transform: translateY(-60vh) rotate(360deg);
    opacity: 1;
  }
  100% {
    transform: translateY(-120vh) rotate(720deg);
    opacity: 0;
  }
}
