@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');

* {
  font-family: 'Pretendard', sans-serif;
}

#name {
  background-image: url(./logobg.png);
  animation: backgroundScroll 15s linear;
}

@keyframes backgroundScroll {
  from {
    background-position: top left;
  }
  to {
    background-position: bottom right;
  }
}
